version: "3.9"
services:
  db:
    image: postgres:15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ssia
    volumes:
      - db-data:/var/lib/postgresql/data
  app:
    build: .
    command: npm run dev
    ports:
      - "3000:3000"
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@db:5432/ssia?schema=public"
      SHADOW_DATABASE_URL: "postgresql://postgres:postgres@db:5432/ssia_shadow?schema=public"
      NEXTAUTH_SECRET: "${NEXTAUTH_SECRET}"
      NEXTAUTH_URL: "http://localhost:3000"
      ADMIN_EMAIL: "${ADMIN_EMAIL}"
      ADMIN_PASSWORD: "${ADMIN_PASSWORD}"
      PRISMA_CLIENT_ENGINE_TYPE: "binary"
volumes:
  db-data:
